<div class="col">
    <div class="card @(City == SelectedCity? "border-primary":"")">
        <img src="@($"/images/{City}.png")" class="card-img-top" alt="@City">
        <div class="card-body">
            <button class="btn btn-primary" type="button" @onclick="@(() => {SelectCity(City);})">@City</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string SelectedCity { get; set; } = "Toronto";

    [Parameter]
    public string City { get; set; } = "";

    [Parameter]
    public EventCallback<string> SelectCityCallback { get; set; }

    private void SelectCity(string cityName)
    {
        SelectCityCallback.InvokeAsync(cityName);
    }
}
